@font-face {
  font-family: "proxima-nova-soft";
  font-style: normal;
  src: url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
}

body {
	margin:0;
	padding:0;
	box-sizing: border-box;	
	font-family: "proxima-nova-soft";
	font-size: 10px; 
	
}

/*Clases reutilizables */
.pos-relative {
	position: relative;
}

.bold {
	font-weight: 700;	
}

.color-white {
	color: white; 
}

.bg-yellow {
  background-color: #FFCC66;
}

.fz-5em {
	font-size: 5em;
}

.fz-2-5em {
	font-size: 1.3em;
}


.bg-gray {
	 background-color: #F9F9F9;
}

.bg--info--bold{
	background-color: #75b9e7;
}

.mb-50{
	margin-bottom: 50px;	
}

/*Estilos del prombar */
.prombar {
	position: fixed;	
	background-color: #ed7161;
	z-index: 100;		
	width: 100%;
	top:0px;
}


a.icon-close{
	width: 20px;
	height: 20px;
	background-size: contain;
	position: absolute;
	top:2px;
	right:1%;
	border:1px solid black;	

}

/*Secction hero */
.bg-hero,  
.bg-icon-hero {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	background-position: center center;
	background-size:cover;
	height:460px;
}

.bg-icon-hero {
	height: 570px;
	top: -90px;
}

span.icon--hero-park {
	width: 230px;
	height: 230px;
	background-size: contain;
	position: absolute;
	top:245px;
	left:13%;
}

span.icon--hero-bench {
	position: absolute;	
	width: 110px;
	height: 110px;
	background-size:contain;
	top:425px;
	left:65%;			
}


/* Navbar del header */
div.navbar--desktop {
	margin-top:2%;
	left: 5.5%;
}

nav.navbar {
	border: none;
}

nav.navbar-default{
	background-color: #9accef;
	width: 60%;
	top: 10px;
	left: 5%;
}

img.logo-nav {
	width: 65px;
	bottom:5px;
}

nav.navbar-default ul.navbar-nav>li>a {
    color: #fff;
    font-size: 1.3em;
}

p.navbar-text {
	position: relative;
	bottom: 65px;
	left:-5%;
}


i.glyphicon.glyphicon-user {
	border: 1px solid;
	width: 25px;
	height: 25px;
	padding-top: .8%;
	font-size: 1.2em;
	border-radius: 20px;
}

span.navbar--email{
	font-size: 1.2em;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: none;
}


h1.titulo-desktop{
	font-size: 6em;
	margin-bottom: 0;
}

a.btn--desktop{
		width: 230px;
		border-radius:20px;
		background-color: #3498DB;
		box-shadow: inset 0px 0px 0px 2px transparent;
		margin-top: 20px;
}

/*<----Section steps ----> */

section.section--steps {
	margin-top: 180px;
}

section.section--steps .row{
	display: flex;	
	justify-content: center;
	align-items: center;				
	padding-left: 150px;	
	height: auto;
}

div.container--icon--step{
	border-radius:50%;
  	width: 210px;
  	height: 210px;
	display: flex;
	justify-content: center;
	align-items: center;						
}

.icon--steps {
  width: 180px;
  height: 180px;
  position: relative;		
  left:12px;
  top:10px;
}

section.section--steps p{
	line-height: 2.8em;
	font-size: 1.8em;					
}


/* Seccion promisses --> */

section.section--promisse {
	
	padding-top: 50px;	
}

section.section--promisse div.container div.row.titulo{
	padding-bottom: 20px;

}


section.section--promisse div.container div.row.titulo h2{
		font-size: 6em;	
}

section.section--promisse div.container div.row.titulo h4.hidden-xs{
	font-size: 	2.5em;
}


section.section--promisse div.container div.row.detalle{
	padding-bottom: 80px;
	}




section.section--promisse div.container div.row.detalle div.col-xs-12.col-md-4{
	height: 250px;
	padding-top: 15px;		
}

section.section--promisse div.container div.row.detalle div.col-xs-12.col-md-4 h5{
 font-size: 2.3em;	
}


section.section--promisse div.container div.row.detalle div.col-xs-12.col-md-4 p{
 font-size: 2em;		 
}



section.section--promisse h2{
	padding-bottom: 20px;			
}







/*section comunity */

.section--comunity{
  padding: 100px;	
   	
}




.panel-heading {
	text-align: center;
  	padding: 0px 4px 15px 15px;
  	background-color: #fff !important;
 }


.icon--promisse {
	width: 60px;
	height: 60px;
	display: inline-block;
	background-size: cover;
}


a.icon--arrow-down {
	width: 25px;
  	height: 25px;
  	background-size: cover;
  	position: absolute;
  	right:8%;
  	top:8%; 
 }

.icon--comunity
 {
  width: 100px;
  height: 100px;
  position:absolute;		
}

img.foto--comunity{
	border-radius: 50%;
	position: relative;	
	top:2px;	
	}



.section--checklist {
    padding-top: 100px;
    background-color: #3498DB;
}


div.list-up, div.list-down{
	padding-top: 20px;	
	background-color: white;
	color:#666;
	border-radius:5px;
}

div.listas-check div.list-up ul{
	height: 600px;
}

div.listas-check div.list-down ul{
	height: 200px;
}

div.listas-check li{
    padding: 20px 5px 10px 25px;
    border-top: 1px solid #eee;		
    font-size: 1.3em;	
	letter-spacing: .2px;
	font-weight: 600;		

}




span.glyphicon-ok {
	position: relative;	
	right:8px;
	font-size: .85em;	
	margin-right: 20px;	
}











/*Definición de las medias y los breakpoints de Bootstrap */

/*Mobile 0-767*/
@media screen and (max-width:767px){

	
	div.prombar {
		display: none;
	}

	header.header--desktop{
		display: none;
	}
		
	span.icon--hero-park {
		left:3%;
	}	

	span.icon--hero-bench {
		left: 80%;
	}
 	header.header--mobile{
		top:80px;
	}

	div.img--mobile img{
		width: 120px;
	}	
	
	h1.titulo--mobile {
	 font-size: 1.8em; 

	}

	div.button--mobile {
		margin-top:25px;
	}
	
	button.btn--mobile{
		width: 230px;
		border-radius:20px;
		background-color: #3498DB;
		box-shadow: inset 0px 0px 0px 2px transparent;
	}
	
	section.section--steps {
		margin-top: 300px;
		height: auto;
	   padding-bottom:0;			
	}

  section.section--steps .row{
	
	display: block;	
	padding-left: 15px;	
	padding-top:15px;	
	
  }

  div.container--icon--step{
	border-radius:50%;
  	width: 180px;
  	height: 180px;
	display:block;
	margin:auto;
}
.icon--steps {
  width: 180px;
  height: 180px;
  display: block;		

}
	
	section.section--steps h2 {
		font-size: 2.5em;
		text-align: center;
	}


	section.section--steps p{
		line-height: 1.2em;
		text-align: center;
		font-size: 1.5em;
		padding-bottom: 20px;					
	
	}

	section.section--promisse div.container div.row.titulo h2{
		font-size: 2.8em;	
	}

	section.section--promisse div.container div.row.titulo h4.visible-xs-block{
		font-size: 1.5em;	
	}	
    
   section.section--promisse div.container div.row.detalle div.col-xs-12.col-md-4{
	height: auto;				
	padding:0;				
  }
  
  .panel-heading {
	text-align: center;
	padding: 0;		
  	background-color: #fff !important;
  	border-bottom: none;	

 }

	.icon--promisse {
	  width: 40px;
	  height: 40px;
	  position: relative;
	  background-size: cover;
	  left:-40%;
	  top: 20px; 
	 margin-left: 0;
   }



.icon--comunity {
	left:41.8%;
	z-index: 200;
	top:45px;

}


}

/*tablet 768-992*/

@media screen and (min-width:768px) and (max-width:992px) {

	header.header--mobile {
			display: none;
		}

	p.navbar-text {
			left:-10%;
		}
	
	section.section--steps {
	
	margin-top: 300px;
	height: auto;
	padding-bottom:0;			
	}

  section.section--steps .row{
	
	display: block;	
	padding-left: 15px;	
	padding-top:15px;	
	
  }

  div.container--icon--step{
	border-radius:50%;
  	width: 180px;
  	height: 180px;
	display:block;
	margin:auto;

}

.icon--steps {
  width: 180px;
  height: 180px;
  display: block;		

}
	
section.section--steps h2 {
		font-size: 2.5em;
		text-align: center;
	}


	section.section--steps p{
		line-height: 1.2em;
		text-align: center;
		font-size: 1.5em;
		padding-bottom: 20px;					
	
	}

	section.section--promisse div.container div.row.titulo h2{
		font-size: 2.8em;	
	}

	section.section--promisse div.container div.row.titulo h4.visible-xs-block{
		font-size: 1.5em;	
	}	
    
   section.section--promisse div.container div.row.detalle div.col-xs-12.col-md-4{
	height: auto;				
	padding:0;				
  }
  
  .panel-heading {
	text-align: center;
	padding: 0;		
  	background-color: #fff !important;
  	border-bottom: none;	

 }	

	.icon--promisse {
		width: 40px;
		height: 40px;
		position: relative;
		background-size: cover;
		left:-40%;
		top: 20px; 
		margin-left: 0;
	}

}


/*Destopk 993-1200*/
@media screen and (min-width:993px){

 	header.header--mobile {
		display: none;
	}

	p.navbar-text {
		left: -10%;
	}


	

}




